extends layout
block content
  .container.pb-1.pt-4
    h1.title1 FPJS Paywall Pro demo
    p.lead
      | US Open 2019: Johanna Konta loses to Elina Svitolina in quarter-finals
    p
      img.img-fluid(src="/img/article-1.jpg")
    p
      a.btn.btn-primary.my-2(href='/articles/1') 
        | See full article
        sup *
      div
        small
          i * You can read 2 free articles per week (powered by FPJS Paywall Pro).
  .album.py-5.bg-light
    .container
      .row
        .col-md-4
          .card.mb-4.shadow-sm
            .card-body
              h4
                a(href="/articles/1")
                  | US Open 2019: Johanna Konta loses to Elina Svitolina in quarter-finals
              p.card-text
                | British number one Johanna Konta missed out on the US Open semi-finals after she was worn down by Ukrainian fifth seed Elina Svitolina.
                | Konta, 28, was unable to impose herself in a 6-4 6-4 defeat on Arthur Ashe Stadium.
              small
                | 1 hour ago
        .col-md-4
          .card.mb-4.shadow-sm
            .card-body
              h4
                a(href="/articles/2")
                  | US Open 2019: Rafael Nadal beats Marin Cilic to make quarter-finals
              p.card-text
                | Spanish second seed Rafael Nadal responded to the challenge thrown down by 2014 champion Marin Cilic as he battled to reach the US Open quarter-finals with a four-set win.
                | Nadal, 33, ultimately had too much quality for the Croatian 22nd seed in a 6-3 3-6 6-1 6-2 victory in New York.
              small
                | 6 hours ago
        .col-md-4
          .card.mb-4.shadow-sm
            .card-body
              h4
                a(href="/articles/3")
                  | French Open 2019: Simona Halep loses to unseeded teenager Amanda Anisimova
              p.card-text
                | American teenager Amanda Anisimova reached the semi-finals of the French Open with a straight-set win over defending champion Simona Halep.
                | Romanian third seed Halep, 27, lost 6-2 6-4 to the unseeded 17-year-old.
              small
                | 3 days ago
        .col-md-4
          .card.mb-4.shadow-sm
            .card-body
              h4
                a(href="/articles/4")
                  | Edmund eases past Kyrgios in Rogers Cup
              p.card-text
                | British number one Kyle Edmund beats Australian Nick Kyrgios in straight sets to reach the second round of the Rogers Cup in Montreal.
              small
                | 1 week ago
        .col-md-4
          .card.mb-4.shadow-sm
            .card-body
              h4
                a(href="/articles/5")
                  | Highlights: Djokovic beats Federer in historic fifth set
              p.card-text
                | Watch highlights as Novak Djokovic becomes the first player to win a Wimbledon singles title with a fifth-set tie-break against Roger Federer.
              small
                | 2 weeks ago
        .col-md-4
          .card.mb-4.shadow-sm
            .card-body
              h4
                a(href="/articles/6")
                  | Diego Schwartzman beats Alexander Zverev to reach quarter-finals
              p.card-text
                | Argentine Diego Schwartzman came from a set down to beat German sixth seed Alexander Zverev and reach the US Open quarter-finals at Flushing Meadows. 
              small
                | 1 week ago