extends ../layout
block content
  .container.py-5
    h1.title1 Highlights
    p.lead
      | Diego Schwartzman beats Alexander Zverev to reach quarter-finals
    p
      img.img-fluid(src="/img/article-6.jpg")
    p
      b
        | Argentine Diego Schwartzman came from a set down to beat German sixth seed Alexander Zverev and reach the US Open quarter-finals at Flushing Meadows.
    p
      | Argentine Diego Schwartzman came from a set down to beat German sixth seed Alexander Zverev and reach the US Open quarter-finals at Flushing Meadows.
    p
      | Schwartzman, the 20th seed, won 3-6 6-2 6-4 6-3 and will next face Rafael Nadal who overcame Marin Cilic in four sets.
    p
      | A frustrated Zverev was docked a point for an obscenity in the final set after earlier hitting a ball into the crowd.
    p
      | French 13th seed Gael Monfils cruised past unseeded Spaniard Pablo Andujar 6-1 6-2 6-2 to make the last eight.
    p
      | Monfils, 33, broke serve six times and did not face a break point as he won in one hour and 26 minutes to set up a meeting with Matteo Berrettini.
    p
      | Italian Berrettini, seeded 24th, saw off Russian Andrey Rublev 6-1 6-4 7-6 (8-6) to reach a Grand Slam quarter-final for the first time.
    p
      | Berrettini, 23, had failed to progress beyond the first round in two previous attempts in New York.
    p
      | He served for the match at 6-5 in the third set and, though unseeded Rublev was able to break him for the first time, the Italian secured victory in the resulting tie-break.
    p
      | After three lengthy sets featuring 10 breaks of serve, Schwartzman, 27, stormed into a 4-0 lead in the fourth against an out-of-sorts Zverev, who served 17 double faults and made 65 unforced errors.
    p
      | Zverev clawed a break back but, following a previous code violation for hitting the ball into the crowd, he was then docked a point for an audible obscenity on game point, which gave Schwartzman a 5-2 lead.
    p
      | The 22-year-old remonstrated with umpire James Keothavong, saying he had not heard the earlier violation because of the noise of the rain falling on the Arthur Ashe Stadium roof.
    p
      | Zverev found some composure to win his next service game but Schwartzman was able to convert the second of two match points with a forehand winner.
    p
      | The defeat means Zverev, the winner of last year&apos;s ATP Finals and seen by many as the leader of the next generation in the men&apos;s game, has still only made two Grand Slam quarter-finals - at the French Open in 2018 and 2019.
    p
      | &quot;Alex today had many problems with the serve, I am a big returner and I took many chances with that. I think I played great tennis,&quot; said Schwartzman.
    p
      | The Argentine, who has lost all seven previous meetings with Nadal, added: &quot;Rafa is my friend. It&apos;s always great to play against him in a quarter-final of a Grand Slam.&quot;

    p
      b
        | Jake Clinck from Montreal, Quebec
    p
      | Tennis Chronicles, August 10th, 2019.