extends ../layout
block content
  .container.py-5
    h1.title1 US Open 2019
    p.lead
      | Johanna Konta loses to Elina Svitolina in quarter-finals
    p
      img.img-fluid(src="/img/article-1.jpg")
    p
      | British number one Johanna Konta missed out on the US Open semi-finals after she was worn down by Ukrainian fifth seed Elina Svitolina.

    p
      | Konta, 28, was unable to impose herself in a 6-4 6-4 defeat on Arthur Ashe Stadium.
    p
      | The 16th seed, aiming to complete the set of major semi-final appearances, was forced into errors by 24-year-old Svitolina's impressive retrieving.
    p
      | She saved two match points before rock-solid Svitolina served out the win.
    p
      | Svitolina, the highest seed left in the draw, will play American 23-time Grand Slam champion Serena Williams or China's Wang Qiang in the last four.
    p
      | Despite being outclassed by a superior opponent at the final Grand Slam of the season, Konta can reflect on a successful year at the majors after reaching the French Open semi-finals - on a clay surface on which she had previously struggled - and another run to the Wimbledon quarter-finals.
      | Former world number four Konta was on the verge of dropping out of the top 50 earlier this year before a change of fortunes under new coach Dimitri Zavialoff - who enjoyed success with Swiss pair Stan Wawrinka and Timea Bacsinszky - has lifted her back to the cusp of the world's top 10.
    p
      | The Frenchman has given Konta more "autonomy" to solve the problems put forward by her opponents, although her valiant attempts to play with variation could not unsettle Svitolina.
      | Konta was the first British woman to reach the US Open quarter-finals since Jo Durie in 1983, but could not match her feat by going one step further as Svitolina maintained her record of not dropping a set during the tournament.
    p
      .
        The Ukrainian, who reached the Wimbledon semi-finals and also won the WTA Tour Finals last year, is one of the most consistent ball-strikers in the women's game and her ability to keep putting the ball back into play proved Konta's downfall.
        It led to Konta trying to force the points with her aggressive returns, leading to 35 unforced errors - and 20 more forced by her opponent - outweighing 24 winners.
        By contrast, Svitolina only made 13 unforced errors in a high-quality performance.
        "I do feel that was the best I've felt her play against me," Konta said.
        "I didn't play badly at all, I was doing a lot of bright things. She just made me play that extra ball, it's frustrating."
    p
      b
        | By Terrence Block from Miami, FL.
    p
      | Tennis Chronicles, September 4th, 2019.
  .album.py-3.bg-light
    .container
      .row.text-center
        .col
          h3 Recommended articles
      .row
        .col-md-3
          .card.mb-4.shadow-sm
            .card-body
              h4
                a(href="/articles/2")
                  | US Open 2019: Rafael Nadal beats Marin Cilic to make quarter-finals
              p.card-text
                | Spanish second seed Rafael Nadal responded to the challenge thrown down by 2014 champion Marin Cilic as he battled to reach the US Open quarter-finals with a four-set win.
              small
                | 6 hours ago
        .col-md-3
          .card.mb-4.shadow-sm
            .card-body
              h4
                a(href="/articles/3")
                  | French Open 2019: Simona Halep loses to unseeded teenager Amanda Anisimova
              p.card-text
                | American teenager Amanda Anisimova reached the semi-finals of the French Open with a straight-set win over defending champion Simona Halep.
              small
                | 3 days ago
        .col-md-3
          .card.mb-4.shadow-sm
            .card-body
              h4
                a(href="/articles/4")
                  | Edmund eases past Kyrgios in Rogers Cup
              p.card-text
                | British number one Kyle Edmund beats Australian Nick Kyrgios in straight sets to reach the second round of the Rogers Cup in Montreal.
              small
                | 1 week ago
        .col-md-3
          .card.mb-4.shadow-sm
            .card-body
              h4
                a(href="/articles/5")
                  | Highlights: Djokovic beats Federer in historic fifth set
              p.card-text
                | Watch highlights as Novak Djokovic becomes the first player to win a Wimbledon singles title with a fifth-set tie-break against Roger Federer.
              small
                | 2 weeks ago