extends ../layout
block content
  .container.py-5
    h1.title1 Rogers Cup
    p.lead
      | Kyle Edmund beats Nick Kyrgios, Dan Evans to meet Rafael Nadal
    p
      img.img-fluid(src="/img/article-4.jpg")
    p
      b
        | British number one Kyle Edmund beat Australian Nick Kyrgios in straight sets to reach the second round of the Rogers Cup in Montreal.
    p
      | Edmund, 24, beat Kyrgios - who won the Washington title on Sunday - 6-3 6-4 and will play Russian eighth seed Daniil Medvedev in the next round.
    p
      | In the doubles, Andy Murray and Spain&apos;s Feliciano Lopez beat Lukasz Kubot and Marcelo Melo 6-7 (5-7) 6-3 11-9.
    p Elsewhere, Dan Evans will play Rafael Nadal in the second round.
    p
      | It will be the first meeting between Evans and Spain&apos;s 18-time Grand Slam champion at tour level after the Briton beat Australian Alex de Minaur 6-4 7-6 (8-6).
    p
      | Nadal, who is the top seed and defending champion at the ATP 1,000 event, received a first-round bye in his first tournament since losing to Roger Federer in the Wimbledon semi-finals in July.
    p
      | Edmund never faced a break point against Kyrgios in a rain-affected match, staying calm as the world number 27 argued with the chair umpire for much of the first set about the towels provided courtside.
    p
      | Kyrgios wanted a white towel as opposed to tournament-branded ones, and after being handed a code violation for an obscenity, was delivered a white towel 20 minutes later.
    p
      | He was broken midway through the first set, before world number 33 Edmund served out the opener to love.
    p
      | In the second set, Kyrgios twice saved break point before Edmund finally broke his serve to love to go 5-4 up, going on to seal the win on his second match point with his 15th ace.
    p
      | Elsewhere, British number two Cameron Norrie was beaten in straight sets by German third seed Alexander Zverev.
    p
      | Zverev, who won the title in Montreal two years ago, won 7-6 (7-4) 6-4 to set up a third-round clash with Georgia&apos;s 13th seed Nikoloz Basilashvili.
    p
      b
        | By Jake Clinck from Montreal, Quebec
    p
      | Tennis Chronicles, August 12th, 2019