extends ../layout
block content
  .container.py-5
    h1.title1 French Open 2019
    p.lead
      | Simona Halep loses to unseeded teenager Amanda Anisimova
    p
      img.img-fluid(src="/img/article-3.jpg")
    p
      b
        | American teenager Amanda Anisimova reached the semi-finals of the French Open with a straight-set win over defending champion Simona Halep.
    p 
      | Romanian third seed Halep, 27, lost 6-2 6-4 to the unseeded 17-year-old.
    p
      | Anisimova had never won a match at Roland Garros before this year but is yet to drop a set on the way to her first Grand Slam semi-final.
    p
      | The world number 51 will face Australian eighth seed Ashleigh Barty, who beat American Madison Keys 6-3 7-5.
    p
      | Anisimova is the youngest player to reach a major semi-final since Nicole Vaidisova at the 2007 Australian Open.
    p
      | &quot;This is honestly more than I could ever have asked for,&quot; she said. &quot;If I didn&apos;t look nervous it&apos;s because I wasn&apos;t.
    p
      | &quot;I don&apos;t think it will sink in, at least not for today. It&apos;s crazy. I really can&apos;t believe the result. Getting the opportunity to play against Simona, that&apos;s amazing, but how it ended is even crazier to me.&quot;
    p
      | As well as winning her solitary Grand Slam title in Paris, former world number one Halep, 27, was runner-up at this tournament in 2017 and 2014.
    p
      | But her defeat means there are no Grand Slam champions left in the women&apos;s draw and ensures that Saturday&apos;s winner will be the ninth different Grand Slam champion in the last 10 majors.
    p
      | &quot;I feel sad because every time when I lose, I&apos;m sad,&quot; said Halep. &quot;And I&apos;m a little bit upset because I couldn&apos;t make my game. I couldn&apos;t move normally.&quot;
    p
      | Anisimova hails from Russian parentage, although her mother and father emigrated to America before she was born, ironically because of the tennis potential of her older sister.
    p
      | She is one of two teenagers in the last four as Czech 19-year-old Marketa Vondrousova will face Britain&apos;s Johanna Konta in Friday&apos;s other semi-final.
    p
      | The defeat of Halep is not Anisimova&apos;s first upset at Roland Garros. She also beat 11th seed Aryna Sabalenka in straight sets in the second round.
    p
      | The American missed the entire 2018 clay season with a right foot injury but has made up for it this year, winning her first WTA title in Bogota two months ago.
    p
      | That made her the youngest American to win a tour title since Serena Williams did so aged 17 at Indian Wells in 1999.
    p
      | Anisimova&apos;s previous longest run at a Grand Slam came at her maiden Australian Open earlier this year, where she reached the fourth round.
    p
      | If she goes on to win the title, she will become the first teenager to win a Grand Slam since Maria Sharapova claimed the 2006 US Open aged 19 and the first at Roland Garros since Croatia&apos;s Iva Majoli in 1997.

    p
      b
        | By Julien August from Nantes, France.
    p
      | Tennis Chronicles, August 26th, 2019