extends ../layout
block content
  .container.py-5
    h1.title1 US Open 2019
    p.lead
      | US Open 2019: Rafael Nadal beats Marin Cilic to make quarter-finals
    p
      img.img-fluid(src="/img/article-2.jpg")
    p
      b
        | Spanish second seed Rafael Nadal responded to the challenge thrown down by 2014 champion Marin Cilic as he battled to reach the US Open quarter-finals with a four-set win.
    p
      | Nadal, 33, ultimately had too much quality for the Croatian 22nd seed in a 6-3 3-6 6-1 6-2 victory in New York.
      | Cilic, 30, briefly rediscovered his best form to level before wilting.
    p
      | Nadal, the 18-time Grand Slam champion, will play Argentine 20th seed Diego Schwartzman in the last eight.
    p
      | &quot;For some moments in the second set I felt there were too many points in his hands, he was pushing me back, more aggression than me and he hit every ball very strong,&quot; said Nadal.
    p
      | &quot;After that second set I thought something needs to change or I would be in his hands. I started to return the second serve inside the court and that created a different perspective.&quot;
    p
      | Nadal is aiming to close the gap to 20-time major winner Federer with his fourth title at Flushing Meadows.
    p
      | The illustrious pair remain on course to meet in Sunday&apos;s final which, remarkably, would be the first meeting in New York of their enduring rivalry.
    p
      | First Nadal must see off Schwartzman, who reached the last eight for the second time by beating German sixth seed Alexander Zverev.
    p
      | Federer, 38, plays his quarter-final against Bulgaria&apos;s Grigor Dimitrov at about 02:00 BST on Wednesday.

    p
      b
        | By Terrence Block from Miami, FL
    p
      | Tennis Chronicles, September 4th, 2019.