extends ../layout
block content
  .container.py-5
    h1.title1 Wimbledon 2019
    p.lead
      | Highlights: Djokovic beats Federer in historic fifth set
    p
      img.img-fluid(src="/img/article-5.jpg")
    p
      b
        | Novak Djokovic celebrates championship point after claiming his second straight Wimbledon title.
    p
      | Novak Djokovic may not have been the better player from first ball to last in Sunday&rsquo;s Wimbledon final.
    p
      | But he summoned nerves of steel when it mattered most, blasting the shots, avoiding the costly errors and saving the two match points required to defeat eight-time Wimbledon champion Roger Federer, who had artistry and the Centre Court crowd on his side in his pursuit of a 21st Grand Slam title.
    p
      | The 37-year-old Federer was the aggressor, hitting 94 winners to Djokovic&rsquo;s 54, and he ultimately won more points (218 to 204). But it was Djokovic&rsquo;s trophy to raise at the end of an exceptionally contested match that lasted 4 hours 57 minutes &mdash; the longest final in Wimbledon history.
    p
      | With his 7-6 (7-5), 1-6, 7-6 (7-4), 4-6, 13-12 (7-3) victory, Djokovic claimed his fifth Wimbledon championship and the 16th major title of his career to pull within two of Rafael Nadal&rsquo;s total and four of Federer&rsquo;s all-time mark, which for now is paused at 20. It was Wimbledon&rsquo;s first singles championship settled under the tournament&rsquo;s new tiebreak format, which was instituted this year and kicks in if the fifth set is knotted at 12 games each. The format was instituted to prevent soul-sapping marathons such as the three-day affair between John Isner and Nicolas Mahut in 2010, which dragged on until 70-68 in the fifth set, and last year&rsquo;s semifinal between Isner and Kevin Anderson, which lasted to 26-24.
    p
      | Djokovic called it the most mentally demanding match he had ever been part of and credited the victory, which he acknowledged easily could have been Federer&rsquo;s, to will power and the mental and emotional aspects of his game that he has worked so hard to strengthen.
    p
      | &ldquo;Most of the match I was on the back foot, actually,&rdquo; said Djokovic, 32. &ldquo;I was defending; he was dictating the play. I just tried to fight and find a way when it mattered the most.&rdquo;

    p
      b
        | By Jim Gray from London, UK
    p
      | July 14th, 2019